.iframe__wrapper--responsive {
  height: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  & iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .iframe__wrapper--responsive {
    margin-left: unset;
    margin-right: unset;
  }
}

.iframe__wrapper--hours {
  height: 0;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 675px;
  padding-top: 25px;
  position: relative;
  & iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .iframe__wrapper--hours {
    padding-bottom: 580px;
  }
}