// Rules for styling links
// =========================================

//.links__offset::before {
//  // mobile devices get slightly different offset b/c of different sized fixed header
//  content: " ";
//  display: block;
//  height: 171px; // defining a height pushes the element down the page
//  margin-top: -171px; // negative margin is needed to push it back to its original position
//  pointer-events: none; // w/ out this it will interfere with the sites navigation links
//  visibility: hidden;
//}
//
//@media screen and (min-width: 768px) {
//    .links__offset::before {
//      height: 150px;
//      margin-top: -150px;
//  }
//}

.links__external::after {
  content: '';
  display: inline-block;
  margin-left: .25rem;
  position: relative;
  bottom: -.13rem;
  height: 16px;
  width: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="%23007bff" d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg>');
}

.links__darker-link {
  color: #004CA3;
}
