
.svg {
  height: 200px;
  width: 200px;
}

.svg__database,
.svg__help--question {
  transform-origin: center;
}

.svg__database .st0 {
  fill: none;
}

.svg__subjects .st0 {
  fill: none;
}

.svg__subjects .st1 {
  fill: #0F3B63;
}

.svg__help .st0 {
  fill: #0F3B63;
}

.svg__help .st1 {
  fill: none;
}

.svg__ondemand .st0 {
  fill: none;
}

.svg__articles .st0 {
  fill: none;
}

.svg__articles .st1 {
  fill: #0F3B63;
}

.svg__ebook .st0 {
  fill: none;
}

.svg__ebook .st1 {
  fill: #0F3B63;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.025);
  }
}

@keyframes zoom2 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.15);
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

a:hover .svg__database .svg__database--search,
a:hover .svg__articles .svg__articles--article,
a:hover .svg__subjects .svg__subjects--search {
  animation-name: zoom;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

a:hover .svg__help .svg__help--question {
  animation-name: zoom2;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

a:hover .svg__ebook .svg__ebook--book,
a:hover .svg__ondemand .svg__ondemand--play {
  animation-name: fade;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}