---
layout: page
baseurl: ''
title: Library
description: ''
slides:
  - image: uploads/ssc-sign.jpg
    alt-text: "Photo of the newley renovated entrance to the Student Success Center"
    url: '#'
    text: 'The **POWER** of Community'
  - image: uploads/back-wall_books.jpg
    alt-text: Photo of the newly renovated library from the back-wall.
    url: '#'
    text: 'The **POWER** of Education'
  - image: uploads/D51_3788.jpg
    alt-text: The Power of Giving
    url: '#'
    text: 'The **POWER** of Learning'
  - image: uploads/D51_3799.jpg
    alt-text: Photo of the newly renovated computer lab in KCC's Library
    url: 'https://vufind.carli.illinois.edu/vf-kcc/'
    text: "Find **Resources**"
  - image: uploads/lab.jpg
    alt-text: "Photo of the newly renovated library at KCC"
    url: 'https://kcc.libguides.com/az.php'
    text: Find **Articles**
page_actions:
  - link: 'https://vufind.carli.illinois.edu/vf-kcc/'
    label: "Link to ..."
    icon_src: 'uploads/searchable-database-icon_bolder.svg'
    icon_alt: 'Icon of a database with a search icon over it'
    service: Research
    description: 'Books, articles, streaming video and other materials available through the library.'
    button_text: 'Get Started'
  - link: 'tutoring/'
    label: 'Link to ...'
    icon_src: 'uploads/article-icon.svg'
    icon_alt: 'Icon of an article with a search icon over it'
    service: Tutoring
    description: 'Tutoring schedules, online tutoring information, and FAQs about the tutoring process.'
    button_text: 'Learn More'
  - link: '#'
    label: 'Reserve Space'
    icon_src: 'uploads/search-subjects-cutout.svg'
    icon_alt: 'Icon of lines of text with a seatch glass-icon over them'
    service: 'Reserve Space'
    description: 'Reserve a computer, study room, a seat in tutoring, or a seat in the library.'
    button_text: 'Learn More'
---







<!-- Build -->

<main>
  <div class="container background__color--tan">
    {% include hero-slider.html %}
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="typography__call-to-action editable">Services</h2>
      </div>
      {% assign icon = site.icons %}
      {% for action in page.page_actions %}
      {% comment %}{% assign index = forloop.index0 %}{% endcomment %}
      <div class="content__min-height col-md-6 col-lg-4 mb-5 text-center d-flex flex-column align-items-center justify-content-center">
        <a href="{% unless action.link contains 'http://' or action.link contains 'https://' %}{{ page.baseurl }}{% endunless %}{{ action.link }}" aria-label="{{ action.label }}">
          {% comment %}{{ icon[index] }}{% endcomment %}
          <img src="assets/img/kcc-placeholder.png" data-src="assets/img/kcc-placeholder-square.png" class="img-fluid w-50 rounded-circle mb-3" alt="">
        </a>
        <a class="links__no-underline" href="{% unless action.link contains 'http://' or action.link contains 'https://' %}{{ page.baseurl }}{% endunless %}{{ action.link }}">
          <h4 class="typography__orange-h4 typography__sm-sup">{{ action.service }}</h4>
          <p class="typography__h5--description content__max-width mx-auto">{{ action.description }}</p>
          <a href="{{ action.link }}" class="mt-auto btn btn-primary">{{ action.button_text }}</a>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="row mb-3">
      <div class="col margins__col--top home__col--heading-underline">
        <h3 class="typography__section--heading mb-4">Location & Hours</h3>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <div class="editable">
          <!-- CloudCannon editable region -->
          <p><strong>While the library space is open on a reduced schedule, <em>many services and items are available even while we're closed!</em></strong></p>
          <p><strong>You can view <a href="https://kcc.libanswers.com/library/faq/305651">Current Library Services</a> for more information.</strong></p>
        </div><!-- End editable region -->
      </div>
    </div>
  </div>
  {% include contacts-tan.html %}
</main>
