---
layout: page
baseurl: ''
title: Library
description: ''
contacts_background_tan: true
sheet_key: true
slides:
  - image: uploads/ssc-sign.jpg
    alt-text: "Photo of the newley renovated entrance to the Student Success Center"
    url: '#'
    text: 'The **POWER** of Community'
  - image: uploads/back-wall_books.jpg
    alt-text: Photo of the newly renovated library from the back-wall.
    url: '#'
    text: 'The **POWER** of Education'
  - image: uploads/D51_3788.jpg
    alt-text: The Power of Giving
    url: '#'
    text: 'The **POWER** of Learning'
  - image: uploads/D51_3799.jpg
    alt-text: Photo of the newly renovated computer lab in KCC's Library
    url: '#'
    text: 'The **POWER** of Success'
page_actions:
  - link: 'https://kcc.libguides.com/search'
    label: "Link to the KCC Library 'Research Material' page"
    service: Research
    description: 'Books, articles, streaming video and other materials available through the library.'
    button_text: 'Get Started'
  - link: 'tutoring/'
    label: 'Link to the KCC Library tutoring page'
    service: Tutoring
    description: 'Tutoring schedules, online tutoring information, and FAQs about the tutoring process.'
    button_text: 'Learn More'
  - link: 'https://kankakee.libcal.com/'
    label: 'Reserve Space'
    service: 'Reserve Space'
    description: 'Reserve a computer, study room, a seat in tutoring, or a seat in the library.'
    button_text: 'Learn More'
---

<main>
  <div class="container background__color--tan">
    {% include hero-slider.html %}
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="typography__call-to-action editable">Services</h2>
      </div>
      {% assign icon = site.icons %}
      {% for action in page.page_actions %}
      {% assign index = forloop.index0 %}
      <div class="content__min-height col-md-4 mb-5 text-center d-flex flex-column align-items-center justify-content-center">
        <a href="{% unless action.link contains 'http://' or action.link contains 'https://' %}{{ page.baseurl }}{% endunless %}{{ action.link }}" title="{{ action.label }}">
          {{ icon[index] }}
        </a>
        <a class="links__no-underline" href="{% unless action.link contains 'http://' or action.link contains 'https://' %}{{ page.baseurl }}{% endunless %}{{ action.link }}">
          <h4 class="typography__orange-h4 typography__sm-sup">{{ action.service }}</h4>
          <p class="typography__h5--description content__max-width mx-auto">{{ action.description }}</p>
          <a href="{{ action.link }}" class="mt-auto btn btn-primary">{{ action.button_text }}</a>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="row mb-3">
      <div class="col margins__col--top home__col--heading-underline">
        <h3 class="typography__section--heading mb-4">Events</h3>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <div id="Events"></div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col margins__col--top home__col--heading-underline">
        <h3 class="typography__section--heading mb-4">Hours</h3>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <div class="editable">
          <p><strong>While the library space is open on a reduced schedule, <em>many services and items are available even when we're&nbsp;closed!</em></strong></p>
          <p><strong>You can view <a href="https://kcc.libanswers.com/library/faq/305651">Current Library Services</a> for more information.</strong></p>
        </div>
        <div class="iframe__wrapper--hours">
          <iframe id="hoursWidget" src="{{ page.baseurl }}hours-widget/" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <div class="row position__relative-wrapper">
      <div class="col position__absolute-down home__col--heading-underline">
        <h3 class="typography__section--heading mb-4">Get Help</h3>
      </div>
    </div>
    <div class="row">
      <div class="col mt-5">
        <a href="https://kcc.libguides.com/canvas" class="links__no-underline banner__wrapper">
          <img src="{{ page.baseurl }}assets/img/kcc-placeholder.png" data-src="{{ page.baseurl }}uploads/library-help-banner-2.jpg" alt="Research and library help" class="img__full-width">
          <button role="link" href="https://kcc.libguides.com/canvas" class="btn btn-primary banner__button">Get Help</button>
        </a>
      </div>
    </div>
  </div>
  <div class="mt-1">
    {% include contacts.html %}
  </div>
</main>
