.banner__wrapper {
  position: relative;
  display: block;
}

.banner__wrapper:hover .banner__button {
  background-color: #022b55;
  border-color: #021e3d;
  filter: drop-shadow(3px 5px 7px rgba(0, 0, 0, 0.35));
}

.banner__button {
  position: absolute;
  bottom: 8%;
  right: 8%;
  filter: drop-shadow(3px 5px 7px rgba(0,0,0,0.25));
}

@media screen and (min-width: 768px) {
  .banner__button {
    font-size: 1.45rem;
    padding-left: .85rem;
    padding-right: .85rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
  }
}

@media screen and (min-width: 992px) {
  .banner__button {
    bottom: 13%;
  }
}